h1{
    
    color: chartreuse;
    margin-left: 50px; /*diferente a padding. Padding interno, margen externo a la caja*/
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: 'Inconsolata', monospace;
    text-shadow: 0 0 10px #251102;
    /*text-indent: para sangria
    text-shadow: efecto copado. mejor manejarlo desde la consola
    word-spacing: espacio entre palabras;
    font-size: 2rem. el doble del default
    em hace referencia al tamaño establecido por el ordenador, normalmente
    16 px por el ordenador
    rem hace referencia al tamaño establecido 
    por nosotros en nuetra estructura;*/
    
    }