.boton-reservas{
    display: grid;
    align-items: center;
    color: white;
    margin-top: 100px;
    margin-left: 550px;
    width: 20%;
    background-color: whitesmoke;
    margin-bottom: 50px;

}