.subentrada{
    display: grid;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    text-decoration: underline;
    padding-top: 25px;
    text-shadow: 0 0 10px #251102;
    background-color:#96c8a2 ;
    width: 75%;
    margin-left: 200px;
}
